#body{
    margin: auto;
    margin: 0%;
    }
    header{
        height: 60px
    }
    #brand{
        color:rgb(92, 25, 92) ;
        margin-left:7%;
        margin-top: 1px;
        font-style:italic;
        font-weight: 800;
        float:left;
        font-size: 41px;
    }
    #content{
        color:black;
        margin-left:4%;
        margin-top:20px;
        font-style:normal;
        float:left;
    }
    #span{
        color:rgb(221, 25, 25) ;
        margin-left:3%;
        margin-top: 20px;
        float: left;
    }
    #scrapbook{
        float: left;
        margin-left:28%;
        margin-top: 0%;
        margin-bottom: 2px;
    }
    #search{
        float: left;
        margin-left: 2%;
        margin-top: 0%;
        margin-bottom: 2px;
    }
    #cart{
        float: left;
        margin-left: 2%;
        margin-top: 0%;
        margin-bottom: 2px;
    }
    #profile{
        float: left;
        margin-left: 2%;
        margin-top: 0%;
    }
    #page{
        height: 600px
        display:in-line block
    }
    /* trending */
    #trending{
        
        width:20%;
        float: left;
    }
    #trending1>img{
        margin-top: 15%;
        float: left;
    }
    #trending1>p{
        float: left;
        margin-top: 15%;
        margin-left:5% ;
    }
    #trending1>h4{
        float: left;
        margin-top: -5%;
        margin-left:12% ;
    }
    #trending2> img{
        float: left;
        margin-top: 24%;
        margin-left:-69%;
    }
    #trending2>p{
        float: left;
        margin-top: 20%;
        margin-left:-55% ;
        margin-right: 5%;
    }
    #trending2>h4{
        float: left;
        margin-top: 19%;
        margin-left:12% ;
    }
    #trending3> img{
        float: left;
        margin-top: 50%;
        margin-left:-69%;
    }
    #trending3>p{
        float: left;
        margin-top: 47%;
        margin-left:-55% ;
        margin-right: 5%;
    }
    #trending3>h4{
        float: left;
        margin-top: 19%;
        margin-left:12% ;
    }
    #trending4> img{
        float: left;
        margin-top: 50%;
        margin-left:-69%;
    }
    #trending4>p{
        float: left;
        margin-top: 47%;
        margin-left:-55% ;
        margin-right: 5%;
    }
    #trending4>h4{
        float: left;
        margin-top: 19%;
        margin-left:12% ;
    }
    #title{
        height: 60px;
        font-style: normal;
        font-size: 25px;
    }
    #lists{
        display: inline-block;
        margin-left: 0%;
    }
    /* listing */
    #listing{
        
        width:78%;
        margin-left: 21.5%;
        float: left;
        margin-top: -79.5%;
        display: inline-block;
    }
    /* #social */
    #social{
        height: 70px;
        margin: auto;
        background-color: aqua;
    }
    .social1{
        float: right;
        margin-top:-49px;
        margin-bottom: 30%;
        margin-right: 2%;
    }
    .social2{
        float: right;
        margin-top:-49px;
        margin-right: 2%;
    }
    /* #suooliar */
    #suppliar{
        height: 80px;
        background-color: aqua;
    }
    .title > img {
        border-radius: 50%;
        margin-left: 2%;
    }
    .btn{
        float: right;
        background-color: red;
        height: 40px;
        width: 100px; 
        margin-top:-72px;
    }
    .title >span{
        margin-top:-1%;
        margin-bottom: 1%;
    }
    .title > p{
        margin-left: 6%;
        margin-top:0%;
    } 
    #products{
        display: inline-block;
        margin-top: 3%;
        height: 700px;
    }
    #product1{
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 4%;
    }
    #product2{
        margin-top: 38px;
        margin-left: 0%;
        margin-right: 5%;
        float: left;
    }
    #product3{
        margin-top: 4%;
        margin-left: 5%;
        margin-right: -33%;
    }
    #product4{
        margin-top: -3px;
        margin-left: 45%;
        margin-right: 3%;
        margin-bottom: 33%;
        float: left;
    }
    #product5{
        margin-left: 5%;
        margin-right: -33%;
        margin-top: 3%;
        float: left;
    }
    #product6{
        margin-left: 5%;
        margin-right: 37%;
        float: left;
        margin-top: -89%;
        margin-bottom: 5%;
    }
    footer{
        margin-top: 90%;
        width: 77.5%;
        margin-left: 21.5%;
        background-color: aqua;
        text-align: center;
        position: absolute;
    }
    @media(max-width:1021px){
        #lists{
            margin-left:-580px;
        }
        #brand {
            margin-left: 5%;
            margin-top: 1px;
            font-style: italic;
            font-size: 29px;
        }
        #scrapbook {
            margin-left:2%;
        }
        #title {
            margin-left:-335% ;
            font-size: 19px;
        }
        #listing {
            margin-top: -125.5%;
        }
        #product1 {
            margin-top: 1%;
        }
        #product2{
            margin-top: 17px;
        }        
        #product3{
             margin-top: 4%;
             margin-left: 5%;
            margin-right: -33%;
        }
        #product6 {
            margin-top: -100%;
            margin-left: 35;
        }
        #product4 {
            margin-left: 48%;
        }
        #product5 {
            margin-top: -70%;
            margin-left: -80%;
        }
        footer{
            margin-top: 200%;
        }
    }
    @media(max-width:912px){

    }

    

    
    